extends layout

block content

    h2 Consells de visita

    ul
        li
            p Els arbres monumentals tenen propietaris (públics o privats). Alguns arbres es troben en propietats privades on no es pot accedir lliurement.
        li
            p Quan visitem un arbre monumental, cal fer-ho amb una actitud respectuosa tant envers l’arbre com envers la gent i l’entorn. El manteniment i millora d’aquest patrimoni és responsabilitat de tothom.
        li
            p Tots hem d’ajudar a la conservació de l’arbres i de l’entorn: no embrutem amb deixalles, cal emportar-se-les. Que ningú s’adoni que hi hem passat!
