extends layout


block content
    .jumbotron
        h1 Arbres.cat
        p Arbres Monumentals de Catalunya

    ul
        li: a(href='/presentacio') Presentació
        li: a(href='/consells') Consells de visita
        li: a(href='/quant_a') Quant a
