extends layout

block content

    h2 Arbres monumentals de Catalunya

    p Es consideren arbres monumentals aquells exemplars que mereixen mesures de protecció sigui per la mida, la grandària, l’edat, la història o l’interès científic que presenten.  Alguns es troben prop d’una masia, altres, isolats al mig d’un prat; n’hi ha que formen part d’un bosc i algun ombreja una font.  Cadascun és diferent i té la seva pròpia història.

    p La relació que aquí es presenta, a més d’explicar les característiques físiques de cada arbre, intenta expressar el caràcter simbòlic que tenen els arbres vells, i les històries i llegendes que s’hi vinculen. Els arbres monumentals pertanyen a cinquanta-quatre espècies. L’alzina, el roure, el plàtan, la pinassa, el pi pinyer, el pi blanc i el teix són les més freqüents.

    h2 Una ullada a la història

    p Des que el 1987 es van emprendre les primeres mesures de protecció d’aquests arbres, s’ha fet força camí. A Catalunya  hi ha prop de dos-cents arbres catalogats com a monumentals i uns dos-cents més catalogats d'interès comarcal o local.

    p Malauradament, però, l’edat, les malures o les inclemències del temps n’han afectat una trentena. Alguns s’han mantingut dempeus, com per exemple el Pi de les Tres Branques –símbol de la unitat dels Països Catalans–, que fa gairebé un segle que és mort. En canvi, el Pi Gros de Can Gallego es va haver d’aterrar perquè era un perill per a les persones, però es va deixar part de la soca a terra com a mostra del seu passat. En el cas d’altres arbres morts, se n’ha conservat el tronc fet a rodelles.

    h2 Els arbres, un bé patrimonial

    p Els arbres i arbredes monumentals són protegits per la Generalitat de Catalunya. Són éssers vius que gaudeixen de protecció individualitzada en el nostre ordenament jurídic. El manteniment i la millora d’aquest patrimoni és, però, responsabilitat de tothom. Quan visitem un arbre monumental, ho hem de fer amb una actitud de respecte tant envers l’arbre com envers la gent i l’entorn.

    p Aquests arbres poden ser de propietat pública o privada. En general es troben a zones rurals on l’agricultura, la ramaderia i l’aprofitament del bosc són el mitjà de vida dels qui hi viuen. Per tant, hem d’ajudar a conservar l’entorn, no l’embrutem, emportem-nos sempre les deixalles. Que ningú no s’adoni que hi hem passat!

    p Fins i tot després de mort, un arbre és font de vida.
