extends layout

block content
    h2  Programaci贸
    p   Jordi Petit

    h2  Informaci贸 arbres
    p   Web <a href='http://www20.gencat.cat/portal/site/parcsnaturals/menuitem.a225e400fafcf1b0f22c5b10b0c0e1a0/?vgnextoid=587954521d40e210VgnVCM2000009b0c1e0aRCRD&vgnextchannel=587954521d40e210VgnVCM2000009b0c1e0aRCRD&vgnextfmt=default'>Arbres monumentals</a> del Departament d'Agricultura, Ramaderia, Pesca, Alimentaci贸 i Medi Natural de la Generalitat de Catalunya. Data d'actualitzaci贸: 02/08/2012.

    h2  Mapes
    p   Servei de mapes de <a href='http://maps.google.com'>Google Maps</a>.
